https://www.djangoproject.com/download/1.7c2/tarball/#egg=Django
dateutils==0.6.6
djangorestframework==2.3.14
psycopg2==2.5.3
python-dateutil==2.2
titlecase==0.7.1
djangorestframework-gis==0.3
uWSGI==2.0.6
